body
{
    background-color: #004C46;
}

h1
{
    display: flex;
    justify-content: center;
    color: #FFC72C;
    font-family: Tahoma;
    font-size: 300%;
    margin-bottom: 1.5em;
}


h2
{
    display: flex;
    justify-content: left;
    color: #FFC72C;
    font-family: Tahoma;
    font-size: 200%;
    text-decoration: underline;
}

/* I want the cursor to change to a clicker when a select option is hovered over. however, I don't want there to be invisible bars that span the whole screen that cuase the cursor to show a pointer 
*/
h3
{
    display: flex;
    justify-content: left;
    color: #FFC72C;
    font-family: Tahoma;
    font-size: 130%;
    cursor: pointer;

}