body
{
    background-color: #004C46;
}

h1
{
    display: flex;
    justify-content: center;
    color: #FFC72C;
    font-family: Tahoma;
    font-size: 300%;
    margin-bottom: 1.5em;
}

h2
{   
    display: flex;
    justify-content: left;
    color: #FFC72C;
    font-family: Tahoma;
    font-size: 200%;
    text-decoration: underline;
}

.subjects
{
    display: flex;
    justify-content: left;
    color: #FFC72C;
    font-family: Tahoma;
    font-size: 130%;
    cursor: pointer;
}