body
{
    background-color: #004C46;
    color: #FFC72C;
    font-family: Tahoma;
    margin:0.5em;
    display: flex;
    justify-content: center;
}

.container
{
    /* display: flex;
    justify-content: center; */
    width: 100%;
}

h1
{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    color: #FFC72C;
    font-family: Tahoma;
    font-size: 300%;
    margin-bottom: 1.5em;
}

h2
{
    text-align: center;
}

p
{
    text-align: center;
}

.subjects
{
    margin: auto 0;
    color: #FFC72C;
    font-family: Tahoma;
    font-size: 130%;
    cursor: pointer;
}

#formlegend
{
    display: flex;
    justify-content: center;
    color: #FFC72C;
    font-family: Tahoma;
    font-size: 150%;
    text-decoration: underline;
}

fieldset
{
    border: 2px solid #FFC72C;
    padding: 1em;
    margin-bottom: 1em;
    display: block;
    width: 33.33%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

/*I want to make the submit button change color when it is hovered over */
.submit
{
    background-color: #FFC72C;
    color: #004C46;
    font-family: Tahoma;
    font-size: 130%;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit:hover
{
    background-color: #e6b800; 
    color: #002f2b; 
}

.easy, .medium, .hard
{
    color: #FFC72C;
    font-family: Tahoma;
    font-size: 200%;
    border: none;
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

#subjects
{
    display: block;
    flex-direction: column;
    align-items: center;
}

a
{
    color: #FFC72C;
    font-family: Tahoma;
    font-size: 130%;
    text-align: center;
}

legend
{
    text-align: center;
}