body
{
    display:block;
}

form
{
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"]
{
    margin-left: auto;
    margin-right: auto;   
}

a
{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

fieldset
{
    background-color: #FFC72C;
    border: .7em groove #FFC72C;
    color: #004C46;
}


#hard   input[type="radio"],
#medium input[type="radio"],
#easy   input[type="radio"]
{
    /* I want to make the radio buttons larger and more visible, and I want the select button to be a little bit away from the words */
    font-size: 150%;
    margin-right: 0.5em;

}