body
{
    display:block;
}

form
{
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"]
{
    margin-left: auto;
    margin-right: auto;   
}

a
{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

fieldset
{
    /* background-color: #FFC72C; */
    border: .7em groove #FFC72C;
    /* color: #004C46; */
}


p 
{
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline;
}

/* I want specifically the words within the fieldset, not the questions, to be enlarged. I also want the radio buttons to be green when selected */
label{
    scale: 1.2;
    font-size: 120%;
    margin-right: 1.5em;
    margin-left: 0.8em;
    accent-color: #FFC72C;
}

input{
    scale: 1.2;
    accent-color: #FFC72C;
}
