body
{
    display:block;
}

h2
{
    font-size: 250%;
}

form
{
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"]
{
    margin-left: auto;
    margin-right: auto;   
}

a
{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

fieldset
{
    border: .7em groove #FFC72C;
}


p 
{
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline;
}

label{
    scale: 1.2;
    font-size: 120%;
    margin-right: 1.5em;
    margin-left: 0.8em;
    accent-color: #FFC72C;
}

input{
    scale: 1.2;
    accent-color: #FFC72C;
}

br
{
    width: 100%;
}

img
{
    border: 0.7em groove #FFC72C;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 50%;
    border-collapse: collapse;
}

.submit
{
    margin-top: 1.5em;
}